.venv
.env
env/

*.tar.gz

# Modelo pesado que se subirá directamente a hugging face
08-hugging-face-y-gradio/model/*.pkl

# Jupyter Notebooks ###
.ipynb_checkpoints/

# macOS

# General
.DS_Store
.AppleDouble
.LSOverride

# Carpetas generadas por mlflow
mlruns
